<div class="container p-2 d-grid">
    <div class='d-flex justify-content-center'>
    <h2 class="blogs-created-by">Update your Post</h2>
  </div>
    <form class="edit_tech">
        <div class="mb-3 m-2">
            <label for="techTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="editPost" placeholder="Title" value="{{title}}"/>
            <input type="hidden" id="edit_id" value="{{id}}">
        </div>
        <div class="mb-3 m-2">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="editContent" placeholder="Content">{{content}}</textarea>
        </div>
        <div class="d-flex justify-content-evenly p-3 ">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/dashboard" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>


{{!-- <div class="edit tech_id">
    <h2 class="title">Edit post</h2>
    <form class="form-horizontal m-lg-4" id="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> value={{Post.post_title}}</label>
            <div class="col-sm-5">
                <input class="form-control" id="editPost">
            </div>
        </div>
        <div class="form-group">
            <label for="postcode" class="col-sm-2 control-label">{{post.post_Content}}</label>
            <div class="col-sm-5">
                <input class="form-control" id="editContent">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="edit" class="btn btn-outline-primary mt-3" id="editId{{post.id}}">save</button>

            </div>
        </div>
    </form>
</div> --}}

<script src="/js/editPost.js"></script>
</body>

</html>






{{!-- heroku --}}


{{!-- <section class="container">
    <h3 class="tech-name">{{gallery.name}}</h3>
    <h4>Opening Hour: {{format_time tech.starting_date}}</h4>
    <h4>Closing Hour: {{format_time tech.ending_date}}</h4>
    <section class="flex-row justify-center">
        {{#each tech.paintings as |painting|}}
        {{> painting-details}}
        {{/each}}
    </section>
</section> --}}